
.env
*/.env
*/.env.local
/env/
/.vscode/
*/firebase_sa.json
/data/

ghactionsSA-key.json
*/firestore_sa_key.json

portfolio_app3/

*/.terraform/
*/.terraform.lock.hcl

*/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
terraform/hub/terraform.tfstate.backup
/terraform/hub/.terraform/



github-actions-deployer-key.json

*__pycache__


fastapi-sa-key.json

*tfstate.lock.info*


terraform-key.json

personalhub13-sa.json

terraform-sa-key.json



.terraform/
.terraform/


*/.next/

*/node_modules/

terraform.tfstate.backup

.terraform.lock.hcl





*/node_modules/


terraform/gcp/personalhub14-terraform-sa-key.json
terraform/gcp/personalhub14-terraform-sa-key.json



draft/node_modules/
venv/
draft/package-lock.json


airflow/

portfolio_app/package-lock.json


/terragrunt1

*.terragrunt-cache

terragrunt-sa.json
